* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.top-header {
  background-color: #0082f9;
  text-align: right;
  padding: 5px 0;
}

.top-header a {
  color: white;
  padding: 0px 5px;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

nav img {
  width: 6%;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul li {
  padding: 0px 15px;
}

nav ul a {
  font-size: 0.95rem;
  font-weight: 500;
  color: #393825;
  text-decoration: none;
}

nav input {
  border: none;
  text-align: end;
  font-size: 0.95rem;
  border-bottom: 2px solid #0082f9;
  width: 8%;
}

