.top-header {
    background-color: #0082f9;
    text-align: right;
    padding: 5px 0;

    a {
        color: white;
        padding: 0px 5px;
        font-size: 0.7rem;
        font-weight: bold;
        text-decoration: none;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    img {
        width: 6%;
    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;

        li {
            padding: 0px 15px;
        }

        a {
            font-size: 0.95rem;
            font-weight: 500;
            color: #393825;
            text-decoration: none;
        }
    }

    input {
        border: none;
        text-align: end;
        font-size: 0.95rem;
        border-bottom: 2px solid #0082f9;
        width: 8%;
    }


}
